.header {
    /*grid-area: h;*/
    /*background-color: aquamarine;*/
    background-color: #3f4257;
    display: flex;
    align-items: center;
    padding-right: 0;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}

.headerContent{
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: inherit;
}

.header img {
    min-height: 100%;
    min-width: 50px;
}

.loginBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
}

.loginBlock div{
    padding: 0 50px;
}

.loginButton{
    position: relative;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    background-color: #ff5e3a;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBlock {
    float: right;
}